@import url('https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px');

h1,h2,h3{
    font-family: 'MontSerrat',sans-serif;
    color: #3c250a;
}
p,li{
    font-family: 'Slabo;27px', serif;
    color: #3c250a;
}

body {
    background: url('http://www.pngmart.com/files/3/Paris-PNG-Clipart.png') no-repeat
    center center fixed;
    background-size: cover;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
 
}

header, footer{
    background-color: #ec90c6;
    text-align:center;
    padding:15px 30px;

}

header{
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

footer{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}
.main-content{
    background-color: #ece8e8;
    padding: 10px 0;
    border-top: 2px solid  #3d80e4;
}

header img{
    width: 50%;
    border-radius: 15px;
}
.main-content ul
{
list-style-type: none;
padding-left: 0;
margin: 0 auto;
text-align: center;
}
.main-content ul li {
    display: inline;
    padding: 10px;
    font-weight: bold;
}
a{
    border-bottom: 2px solid  #3d80e4;
    color: #5a1ad1;
    text-decoration: none;
}
.main-content p

{
    margin: 10 px 40 px
}

.main-content h2{
    text-align: center;
}

 #projects{
display: grid; 
grid-template-columns: 30% 30% 30%;
justify-content: center;
grid-gap: 3%;
}
.project
{

width: 100%;
display: inline-block;
    background-color: #ec90c6;
    
border-radius: 15px;

}
.project img{max-width: 100%}